/*Created by Explorers
Last Modified: 7th April
*/
.panel-group{

  position: relative;
  padding: 2rem;
  margin: 1.5rem;
   border-radius: 0.5rem;
   background-color: rgba(230, 167, 86, 0.9);
   


}
.outer{
 border-radius: 0.5rem;
  border: rgba(255, 255, 255, 0.85);
   background-color: rgba(255, 255, 255, 0.85);

}
